### Table of Contents <a class="anchor" id="BeyondSQL2_toc"></a>

* [Table of Contents](#BeyondSQL2_toc)
    * [Page 1 - Introduction](#BeyondSQL2_page_1)
    * [Page 2 - Importing classicmodels](#BeyondSQL2_page_2)
    * [Page 3 - Getting to know classicmodels](#BeyondSQL2_page_3)
    * [Page 4 - Basic Sums and Averages](#BeyondSQL2_page_4)
    * [Page 5 - ](#BeyondSQL2_page_5)
    * [Page 6 - ](#BeyondSQL2_page_6)
    * [Page 7 - ](#BeyondSQL2_page_7)
    * [Page 8 - Comments](#BeyondSQL2_page_8)
    * [Page 9 - future](#BeyondSQL2_page_9)
    * [Page 10 - Key Terms](#BeyondSQL2_page_10)
    * [Page 11 - Lesson X Exam](#BeyondSQL2_page_11)

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 1 - Introduction <a class="anchor" id="BeyondSQL2_page_1"></a>

[Back to Top](#BeyondSQL2_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

from IPython.display import VimeoVideo

#Tutorial Video Name: future name here 

#VimeoVideo('0000', width=720, height=480)

So far you've learned basic queries in SQL. This portion goes beyond the basic queries you've learned. Now you'll learn more about filtering and returning more complex queries using a different database.

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page  2- Importing classicmodels <a class="anchor" id="BeyondSQL2_page_2"></a>

[Back to Top](#BeyondSQL2_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

### Installing Database

This course requires the sample database provided by MySQL called **classicmodels.**  Follow the steps below to complete the sample database installation:

1. Download the file:
    
   *  **[classicmodels database](https://www.mysqltutorial.org/wp-content/uploads/2018/03/mysqlsampledatabase.zip)**
   
2.  (Mac only, Window users skip this step) Open the `XXXX Obtain filename for Macs` file once downloaded to extract the `classicmodels` folder.

3.  Open `MySQL Workbench` from your Launchpad.

4.  Click on the `Local instance 3306` button to connect to your MySQL service.

5.  Once the instance is open, click on the `File` menu and select `Open SQL Script`.

6.  Navigate to and select the `classicmodels.sql` file.  

7.  Execute the script by clicking on the lightning bolt icon toward the top of the screen.

8.  Once the schema script is complete, click on the refresh button next to the `Schemas` menu on the left and you should now see the `classicmodels` schema listed:

9. At this point you do not yet have any data in the database so you must run the other SQL script that came in the `classicmodels` folder.  Click on the `File` menu, and select `Open SQL Script` again.

10.  Navigate to and select the `mysqlsampledatabase.sql` file.

11. Execute the script by once again clicking on the lightning bolt icon.  (Make sure the tab for `classicmodels` is currently open.)

12. Under the Schemas menu on the left you can click on the `customers` table and select the `Select Rows - Limit 1000` option to run a query on the customers table and see the data:

   
If you see data in the Result Grid, then you're all set!

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 3 - Getting to Know classicmodels <a class="anchor" id="BeyondSQL2_page_3"></a>

[Back to Top](#BeyondSQL2_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

In classicmodels, you'll find several tables relating to the sale of classic cars, motorcycles, and other vintage aircraft, ships and vehicles. There are some surprises in the database, which is why it was chosen. Customers, sales reps, employees, payments are included.

classicmodels is a messy little database. It has null values, it has mixed cases, it has commas strewn about.  Phone numbers and postal zip codes are in different formats.  You'll really hone your SQL data cleaning skills with this database!

The **MySQL classicmodels sample database schema** consists of the following tables:

**Customers:** stores customers' data.<br>
**Products:** stores a list of scale model cars. <br>
**ProductLines:** stores a list of product line categories.<br>
**Orders:** stores sales orders placed by customers.<br>
**OrderDetails:** stores sales order line items for each sales order.<br>
**Payments:** stores payments made by customers based on their accounts.<br>
**Employees:** stores all employee information as well as the organization structure such as who reports to whom.<br>
**Offices:** stores sales office data.<br>

If you've been using sakila, you'll need to change databases in order to start querying classicmodels tables.

```sql
show databases;
select * FROM mysql;

use classicmodels;
```

![Results](media/USE-database.png)

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 4 - Basic Sums and Averages <a class="anchor" id="BeyondSQL2_page_4"></a>

[Back to Top](#BeyondSQL2_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

Now you're ready to start getting to know classicmodels. You can start with some basic queries such as:

# Count Function

### Introduction to the MySQL COUNT() function
The COUNT() function is an aggregate function that returns the number of rows in a table. The COUNT() function allows you to count all rows or only rows that match a specified condition.

The COUNT() function has three forms: COUNT(*), COUNT(expression) and COUNT(DISTINCT expression).

#### COUNT(*) function

The COUNT(*) function returns the number of rows in a result set returned by a SELECT statement. The COUNT(*) returns the number of rows including duplicate, non-NULL and NULL rows.

#### COUNT(expression)

The COUNT(expression) returns the number of rows that do not contain NULL values as the result of the expression.

#### COUNT(DISTINCT expression)

The COUNT(DISTINCT expression) returns the number of distinct rows that do not contain NULL values as the result of the expression.

The return type of the COUNT() function is BIGINT. The COUNT()  function returns 0 if there is no matching row found.

```sql
SELECT COUNT (productName) FROM products;
```

The COUNT(*) function is often used with a GROUP BY clause to return the number of elements in each group.

For example, this statement uses the COUNT() function with the GROUP BY clause to return the number of products in each product line:

```sql
SELECT 
    productLine, 
    COUNT(*)
FROM
    products
GROUP BY productLine;
```


![Results](media/Count-product-lines-example.png)

The Count function will return its own column, and SQL will name it Count(*). So you'll have to call it that if you were to refer to it.

Similarly, this example uses the COUNT(*) function to find the number of products supplied by each vendor:

```sql
SELECT 
    productVendor, 
    COUNT(*)
FROM
    products
GROUP BY productVendor
ORDER BY COUNT(*) DESC;
```

![Results](media/Count-product-vendor-results.png)

## Sum and Average

```sql

SELECT paymentDate, amount FROM payments
ORDER BY amount DESC;

SELECT sum(amount) AS " Total Payments",
round(avg(amount, 0)) AS "Average Payment"
FROM payments;

SELECT amount from payments
WHERE amount BETWEEN 0 and 5000;

SELECT contactLastName, customerName, city, state FROM customers
WHERE contactLastName LIKE 'a%' OR contactLastName LIKE 'b%' OR contactLastName LIKE 'c%';



SELECT orderNumber, orderDate, quantityOrdered, priceEach, customerNumber FROM orderdetails
JOIN orders USING (orderNumber);
```